---
# This is the internal user database
# The hash value is a bcrypt hash and can be generated with plugin/tools/hash.sh

_meta:
  type: "internalusers"
  config_version: 2

# internal_users
# NOTE: there is no mention that "backend_roles", that earlier in Opendistro
# were available in roles.yml file not are in the "opendistro_security_roles" key.
# For internal users, we will use backend_roles instead of opendistro_security_roles.
{% for user in internal_users %}
{{ user.user }}:
  hash: {{ vars[ user.user + '_hash'] }}
  reserved: true
  backend_roles:
    - "{{ user.role }}"
  description: "Internal user {{ user.user }} for {{ user.role }}"
  hidden: true
{% endfor %}

# NOTE: all roles without kibana (read only user), logstash and
# kibanaserver got admin privileges.
{% for user in users %}
{% if 'role' in user and 'tenant' in user %}
{% if user.role == 'readonly' %}
kibana_{{ user.tenant }}:
  hash: {{ vars['opensearch_' + user.user + '_' + user.tenant + '_hash'] }}
  reserved: true
  opendistro_security_roles:
    - kibana_viewer_{{ user.tenant }}
  description: Kibana viewer user for tenant {{ user.tenant }}
{% else %}
{{ user.user }}_{{ user.tenant }}:
  hash: {{ vars['opensearch_' + user.user + '_' + user.tenant + '_hash'] }}
  reserved: true
  opendistro_security_roles:
    - "{{ user.role }}_{{ user.tenant }}"
  description: "User {{ user.user }} user for {{ user.role }}"
  hidden: true
{% endif %}
{% endif %}
{% endfor %}
