---
_meta:
  type: "tenants"
  config_version: 2

{% set tmp_tenants = [] %}
{% for user in users %}
{% if user.tenant not in tmp_tenants %}
{{ user.tenant }}:
  reserved: false
  description: "Tenant for {{ user.tenant }} users"
{{ tmp_tenants.append(user.tenant) }}
{% endif %}
{% endfor %}
