---
extends: default

ignore: |
  .git
  __pycache__
  .venv

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  empty-lines: disable
  truthy: disable
  comments:
    require-starting-space: false

