---
# NOTE: /usr directory can not be mount inside the container.
- name: Create directories for Opensearch
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ elk_uid }}"
    group: "{{ elk_gid }}"
    mode: "0750"
  loop:
    - "/etc/opensearch"
    - "/mnt/opensearch/data"
    - "/mnt/opensearch/logs"

- name: Create Opensearch config file
  template:
    src: templates/opensearch.yml.j2
    dest: "/etc/opensearch/opensearch.yml"
  notify:
    - restart opensearch
    - wait for opensearch service

- name: Set permissions for opensearch config file
  file:
    path: "/etc/opensearch/opensearch.yml"
    owner: "{{ elk_uid }}"
    group: "{{ elk_gid }}"
    mode: "0640"

# https://opensearch.org/docs/opensearch/install/important-settings/
- name: Set important settings for Opensearch container
  sysctl:
    name: vm.max_map_count
    value: '262144'
    state: present
    reload: true

- name: Create reconfiguration script
  copy:
    content: >-
      #!/bin/bash

      podman exec opensearch
      bash -c 'JAVA_HOME=/usr/share/opensearch/jdk
      /usr/share/opensearch/plugins/opensearch-security/tools/securityadmin.sh
      -cd /usr/share/opensearch/plugins/opensearch-security/securityconfig/
      -icl -nhnv -cacert /usr/share/opensearch/config/certs/localCA.pem
      -cert /usr/share/opensearch/config/certs/opensearch-admin.crt
      -key /usr/share/opensearch/config/certs/opensearch-admin.key
      -h {{ ansible_default_ipv4.address }}'
    dest: /usr/local/bin/reconfigure-opensearch.sh
    mode: '0755'

# FIXME: if we provide fully opensearch.yml file, probably we don't need to add
# some of the environment variables.
# https://opensearch.org/docs/opensearch/install/docker-security/
# NOTE: by default guide is recommending env variables:
#      -e cluster.name={{ fqdn | replace('.', '_') }}a
#      -e node.name={{ inventory_hostname }}
#      -e discovery.seed_hosts={{ inventory_hostname }}
#      -e cluster.initial_master_nodes={{ inventory_hostname }}
# Those settings are done in opensearch.yml file. If you want to use that settings
# comment: discovery.type: and plugins.security.audit.type in opensearch.yml file.
# WARNING: it is important to use :z instead of :Z flag.
- include_tasks: container-service.yml
  vars:
    pod_name: opensearch
    pod_param: >
      {{ opensearch_container_params }}
      -e DISABLE_INSTALL_DEMO_CONFIG=true
      -e "OPENSEARCH_JAVA_OPTS=-Xms{{ opensearch_minimum_heap_size }} -Xmx{{ opensearch_maximum_heap_size }} -Dlog4j2.formatMsgNoLookups=true"
      -v /mnt/opensearch/data:/usr/share/opensearch/data:z
      -v /mnt/opensearch/logs:/var/log/opensearch:z
      -v /etc/opensearch/certs/opensearch:/usr/share/opensearch/config/certs:Z
      -v /etc/opensearch/opensearch.yml:/usr/share/opensearch/config/opensearch.yml:z
      -v /etc/opensearch/internal_users.yml:/usr/share/opensearch/plugins/opensearch-security/securityconfig/internal_users.yml:z
      -v /etc/opensearch/roles_mapping.yml:/usr/share/opensearch/plugins/opensearch-security/securityconfig/roles_mapping.yml:z
      -v /etc/opensearch/tenants.yml:/usr/share/opensearch/plugins/opensearch-security/securityconfig/tenants.yml:z
      -v /etc/opensearch/roles.yml:/usr/share/opensearch/plugins/opensearch-security/securityconfig/roles.yml:z
      -v /etc/opensearch/action_groups.yml:/usr/share/opensearch/plugins/opensearch-security/securityconfig/action_groups.yml:z
      {{ container_images['opensearch'] }}
