---
# NOTE: /usr directory can not be mount inside the container.
- name: Create directories for Opensearch
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ elk_uid }}"
    group: "{{ elk_gid }}"
    mode: "0777"
  loop:
    - "/etc/opensearch"
    - "/mnt/opensearch/data"
    - "/mnt/opensearch/logs"

- name: Create Elasticsearch config file
  template:
    src: templates/elasticsearch_config.yml.j2
    dest: "/etc/opensearch/opensearch.yml"
  register: _common_config

- name: Set permissions for opensearch config file
  file:
    path: "/etc/opensearch/opensearch.yml"
    owner: "{{ elk_uid }}"
    group: "{{ elk_gid }}"
    mode: "0777"

# https://opensearch.org/docs/opensearch/install/important-settings/
- name: Set important settings for Opensearch container
  sysctl:
    name: vm.max_map_count
    value: '262144'
    state: present
    reload: true

- name: Restart service if necessary
  service:
    name: elasticsearch
    state: restarted
    enabled: true
  ignore_errors: true
  when: _common_config.changed
