---
- name: Configure mirrors
  include_tasks: configure-mirrors.yml

- name: Setup Opensearch - Elasticsearch
  include_tasks: setup-elasticsearch.yml

- name: Setup Opensearch dashboards - Kibana
  include_tasks: setup-kibana.yml

- name: Setup Logstash
  include_tasks: setup-logstash.yml

- name: Setup Curator package
  include_tasks: setup-curator.yml

- name: Generate certs
  include_tasks: gen-certs.yml

- name: Configure Elasticsearch on main host
  include_tasks: configure-elasticsearch-main.yml

- name: Create users
  include_tasks: create-users.yml

- name: Configure Kibana
  include_tasks: configure-kibana.yml

- name: Configure container
  include_tasks: configure-opensearch.yml

- name: Configure Logstash
  include_tasks: configure-logstash.yml

- name: Web configuration
  include_tasks: web.yml
