---
- name: Replace incompatible characters
  include_tasks: gen_informations.yaml

- name: Setup Opensearch - Elasticsearch
  include_tasks: setup-elasticsearch.yml

- name: Setup Opensearch dashboards - Kibana
  include_tasks: setup-kibana.yml

- name: Setup Logstash
  include_tasks: setup-logstash.yml

- name: Setup Curator package
  include_tasks: setup-curator.yml

- name: Generate certs
  include_tasks: gen-certs.yml

- name: Create users
  include_tasks: create-users.yml

- name: Configure container - opensearch
  include_tasks: configure-opensearch.yml

- name: Configure container - opensearch dashboards
  include_tasks: configure-opensearch-dashboards.yml

- name: Configure Logstash
  include_tasks: configure-logstash-curator.yml

- name: Web configuration
  include_tasks: web.yml
