---
- name: Installing required packages
  package:
    name:
      - httpd
      - mod_ssl
    state: present

- name: Setup web config
  template:
    src: opensearch_dashboards-vhost.conf.j2
    dest: /etc/httpd/conf.d/opensearch_dashboards-vhost.conf
    mode: '0444'
    owner: root
    group: root
  register: _httpd_conf

- name: Remove previous vhost file
  file:
    path: /etc/httpd/conf.d/gateway-kibana.conf.j2
    state: absent

- name: Generate kibana autologin location
  template:
    src: kibana_autologin-vhost.conf.j2
    dest: /etc/httpd/conf.d/kibana_autologin_{{ item['tenant'] | replace('.', '_') }}.conf
    mode: '0444'
    owner: root
    group: root
  loop: "{{ users | selectattr('role', 'equalto', 'readonly') | list }}"
  register: _kibana_autologin_conf
  no_log: True

- name: Remove welcome page
  file:
    path: /etc/httpd/conf.d/welcome.conf
    state: absent

- name: Set proper sebool
  seboolean:
    name: httpd_can_network_connect
    state: true
    persistent: true

- name: Restart httpd service if necessary
  service:
    name: httpd
    state: restarted
    enabled: true
  when: _httpd_conf.changed or _kibana_autologin_conf.changed
