---
- name: restart opensearch
  service:
    name: opensearch
    state: restarted
    enabled: true

- name: wait for opensearch service
  wait_for:
    port: 9200
    host: "{{ ansible_default_ipv4.address }}"
    delay: 10
    timeout: 120

- name: restart opensearch-dashboards
  service:
    name: opensearch-dashboards
    state: restarted
    enabled: true

- name: reconfigure security plugin in containers
  shell: >-
    podman exec opensearch
    bash -c 'JAVA_HOME=/usr/share/opensearch/jdk
    /usr/share/opensearch/plugins/opensearch-security/tools/securityadmin.sh
    -cd /usr/share/opensearch/plugins/opensearch-security/securityconfig/
    -icl -nhnv -cacert /usr/share/opensearch/config/certs/localCA.pem
    -cert /usr/share/opensearch/config/certs/elasticsearch-admin.crt
    -key /usr/share/opensearch/config/certs/elasticsearch-admin.key
    -h {{ ansible_default_ipv4.address }}'
