{% for user in users %}
{% if 'role' in user and 'password' in user %}
{% if user.role == 'logstash' and user.tenant == item %}
# FIXME: change ansible_default_ipv4.address to fqdn when is fixed:
# https://github.com/containers/podman/issues/10319
input {
  tcp {
    host => "{{ logstash_host | default('0.0.0.0') }}"
    port => "{{ tenant_configuration[user.tenant].logstash_input_port if 'logstash_input_port' in tenant_configuration[user.tenant] else '9999' }}"
    codec => json_lines {}
    type => "zuul"
  }
}

filter {
  grok {
    match => ["message", "(?<timestamp>[-0-9]{10}\s+[0-9.:]{12})(?<ms>[0-9]{3}) (?<sep>\|)%{GREEDYDATA:message}"]
    overwrite => [ "message" ]
  }
  if [message] =~ /^\s*$/ {
      drop { }
  }
  date {
    match => ["timestamp", "yyyy-MM-dd HH:mm:ss.SSS"]
    timezone => "UTC"
  }
}

# From https://opendistro.github.io/for-elasticsearch-docs/docs/troubleshoot/#logstash
output {
  elasticsearch {
    hosts => ['https://{{ fqdn }}:9200']
    index => "logstash{{ '-' + user.tenant }}-%{+YYYY.MM.dd}"
    user => '{{ user.user }}_{{ user.tenant }}'
    password => "{{ user.password }}"
    ssl => true
    ssl_certificate_verification => true
    cacert => '/etc/opensearch/certs/localCA.pem'
    ilm_enabled => false
  }
}
{% endif %}
{% endif %}
{% endfor %}
