{% if indexes | length > 0 or index_name != 'universal' %}
{
    "policy": {
        "policy_id": "{{ index_name }}-policy",
        "description": "Delete index after {{ retention_time }} for {{ index_name }}",
        "default_state": "hot",
        "states": [
            {
                "name": "hot",
                "actions": [],
                "transitions": [
                    {
                        "state_name": "delete",
                        "conditions": {
                            "min_index_age": "{{ retention_time }}"
                        }
                    }
                ]
            },
            {
                "name": "delete",
                "actions": [
                    {
                        "delete": {}
                    }
                ],
                "transitions": []
            }
        ],
        "ism_template": [
            {
                "index_patterns": {{ indexes | to_json }},
                "priority": {{ 10 | random }}
            }
        ]
    }
}
{% else %}
{
  "policy": {
    "policy_id": "universal-policy",
    "description": "Delete all data after 14d",
    "default_state": "hot",
    "states": [
      {
        "name": "hot",
        "actions": [],
        "transitions": [
          {
            "state_name": "delete",
            "conditions": {
              "min_index_age": "14d"
            }
          }
        ]
      },
      {
        "name": "delete",
        "actions": [
          {
            "delete": {}
          }
        ],
        "transitions": []
      }
    ]
  }
}
{% endif %}
