<IfModule mod_proxy.c>
    SSLProxyEngine on
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

    <VirtualHost *:80>
        ServerName {{ fqdn }}
        HostnameLookups On
        RewriteEngine On
        DocumentRoot /var/www/html

        RewriteCond %{REQUEST_URI} !\.well-known/acme-challenge
        {% if setup_ssl -%}
        RewriteRule ^/(.*)$ https://{{ fqdn }}/analytics/$1 [R=301,L]
        RewriteRule ^$ https://{{ fqdn }}/analytics/ [L,R=301]
        {% else -%}
        RewriteRule ^/(.*)$ https://{{ fqdn }}/analytics/$1 [R=301,L]
        RewriteRule ^$ https://{{ fqdn }}/analytics/ [L,R=301]
        {% endif -%}
        Alias /.well-known/acme-challenge /var/www/html/.well-known/acme-challenge
        # Allow public access to ACME challenge files for Let's Encrypt verification.
        <Directory /var/www/html/.well-known/acme-challenge>
            Options None
            AllowOverride None
            Require all granted
        </Directory>
    </VirtualHost>
    {% if setup_ssl -%}
    <VirtualHost *:443>
        ServerName {{ fqdn }}
        HostnameLookups On
        RewriteEngine On
        DocumentRoot /var/www/html
        RedirectMatch ^/$ https://{{ fqdn }}/analytics/

        SSLEngine on
        SSLCertificateFile {{ ssl_cert_file }}
        SSLCertificateChainFile {{ ssl_chain_file }}
        SSLCertificateKeyFile {{ ssl_key_file }}

        Alias /.well-known/acme-challenge /var/www/html/.well-known/acme-challenge
        RewriteCond %{REQUEST_URI} !\.well-known/acme-challenge
        # Allow public access to ACME challenge files for Let's Encrypt verification.
        <Directory /var/www/html/.well-known/acme-challenge>
            Options None
            AllowOverride None
            Require all granted
        </Directory>
    </VirtualHost>
    {% endif -%}

    <Location "/analytics">
        ProxyPass https://{{ fqdn }}:5601
        ProxyPassReverse https://{{ fqdn }}:5601
    </Location>

    <Location /elasticsearch>
        ProxyPass https://{{ fqdn }}:9200
        ProxyPassReverse https://{{ fqdn }}:9200
    </Location>
    <Location /opensearch>
        ProxyPass https://{{ fqdn }}:9200
        ProxyPassReverse https://{{ fqdn }}:9200
    </Location>
</IfModule>
