---
opensearch.hosts: ["https://{{ fqdn }}:9200"]

server.basePath: "/analytics"
server.host: 0.0.0.0

server.ssl.enabled: true
server.ssl.key: /usr/share/opensearch-dashboards/config/certs/opensearch-dashboards.key
server.ssl.certificate: /usr/share/opensearch-dashboards/config/certs/opensearch-dashboards.crt

elasticsearch.ssl.verificationMode: full
elasticsearch.ssl.certificateAuthorities: ["/usr/share/opensearch-dashboards/config/certs/localCA.pem"]
elasticsearch.username: kibanaserver
elasticsearch.password: {{ kibanaserver }}

opensearch_security.multitenancy.tenants.enable_private: false
opensearch_security.multitenancy.enabled: true
opensearch_security.multitenancy.tenants.preferred: [ "{{ opensearch_tenants }}" ]
opensearch_security.multitenancy.enable_filter: true
opensearch_security.multitenancy.tenants.enable_global: false
opensearch_security.basicauth.login.title: "The Software Factory Opensearch"
opensearch_security.basicauth.login.subtitle: "{{ kibana_loginscreen_text }}"

# additional settings that were not listened in configure-kibana,
# but are required.
elasticsearch.requestHeadersWhitelist: ["securitytenant","Authorization", "authorization"]
opensearch_security.readonly_mode.roles: ["kibana_read_only"]
opensearch_security.cookie.secure: false
map.includeElasticMapsService: false
