<IfModule mod_proxy.c>
    SSLProxyEngine on
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

    <VirtualHost *:80>
        ServerName {{ fqdn }}
        HostnameLookups On
        RewriteEngine On
        DocumentRoot /var/www/html

        {% if setup_ssl %}
            Redirect permanent / https://{{ fqdn }}/analytics/
        {% else %}
            Redirect permanent / http://{{ fqdn }}/analytics/
        {% endif %}
    </VirtualHost>

    {% if setup_ssl %}
    <VirtualHost *:443>
        ServerName {{ fqdn }}
        HostnameLookups On
        RewriteEngine On
        DocumentRoot /var/www/html
        RedirectMatch ^/$ https://{{ fqdn }}/analytics/

        SSLEngine on
        SSLCertificateFile {{ ssl_cert_file }}
        SSLCertificateChainFile {{ ssl_chain_file }}
        SSLCertificateKeyFile {{ ssl_key_file }}
    </VirtualHost>
    {% endif %}

    <Location "/analytics">
        ProxyPass http://{{ fqdn }}:5601
        ProxyPassReverse http://{{ fqdn }}:5601
    </Location>

    <Location /elasticsearch>
        ProxyPass https://{{ fqdn }}:9200
        ProxyPassReverse https://{{ fqdn }}:9200
    </Location>
</IfModule>
