---
# DEFAULT FILE

_meta:
  type: "roles"
  config_version: 2

# Restrict users so they can only view visualization and dashboard on kibana
kibana_read_only:
  reserved: true

# The security REST API access role is used to assign specific users access to change the security settings through the REST API.
security_rest_api_access:
  reserved: true

# Allows users to view alerts
alerting_view_alerts:
  reserved: true
  index_permissions:
    - index_patterns:
      - ".opendistro-alerting-alert*"
      allowed_actions:
        - read

# Allows users to view and acknowledge alerts
alerting_crud_alerts:
  reserved: true
  index_permissions:
    - index_patterns:
      - ".opendistro-alerting-alert*"
      allowed_actions:
       - crud

# Allows users to use all alerting functionality
alerting_full_access:
  reserved: true
  index_permissions:
    - index_patterns:
      - ".opendistro-alerting-config"
      - ".opendistro-alerting-alert*"
      allowed_actions:
        - crud

{% for user in users %}
{% if 'role' in user and 'tenant' in user %}
{% if user.role == 'readonly' %}
kibana_viewer_{{ user.tenant | replace('.', '_') }}:
  reserved: true
  cluster_permissions:
    - "cluster_composite_ops_ro"
  index_permissions:
  - index_patterns:
      - "?kibana*"
      - "?kibana"
      - "logstash-{{ user.tenant | replace('.', '_') }}-*"
      - "zuul-{{ user.tenant | replace('.', '_') }}.*"
    allowed_actions:
      - "read"
      - "get"
      - "search"
      - "indices:data/write/update"
      - "indices:data/write/index"
      - "indices:data/write/bulk*"
      - "indices:monitor/stats"
      - "indices:monitor/recovery"
  tenant_permissions:
    - tenant_patterns:
        - "{{ user.tenant | replace('.', '_') }}"
      allowed_actions:
        - "kibana_all_read"
{% elif user.role == 'admin' %}
# From static role:
# https://github.com/opendistro-for-elasticsearch/security/blob/main/src/main/resources/static_config/static_roles.yml#L6-L22
# NOTE: without index_permissions set to "*", admin can not create
# new index pattern.
{{ user.user }}_{{ user.tenant | replace('.', '_') }}:
  reserved: true
  cluster_permissions:
    - "*"
  index_permissions:
    - index_patterns:
        - "*"
      allowed_actions:
        - "*"
  tenant_permissions:
    - tenant_patterns:
        - "{{ user.tenant | replace('.', '_') }}"
      allowed_actions:
        - "kibana_all_write"
{% endif %}
{% endif %}
{% endfor %}
